.title {
  margin: 25px 0;
}

#restaurant-note {
  line-height: 2;
  float: right;
}

#right {
  float: right;
  text-align: left;
}

#left {
  float: left;
  text-align: left;
}

#li-container {
  margin: 0;
  padding: 0;
}

#button {
  width: 100%
}

#email {
  text-align: right;
  margin: 0
}

#prop {
  margin: 0
}

#button-form {
  margin: 0 14px
}

.headerTab {
  border: 1px solid lightgray
}

.pointer {
  cursor: pointer;
}