<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Dernière visite</th>
            <th scope="col">Note</th>
            <th scope="col">Détails</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key, restaurant) in restaurants" class="pointer" ng-class="currentRestaurant(key)" ng-click="changeSelectedItem(key)">
            <th scope="row">{{key + 1}}</th>
            <td>{{restaurant.nom}}</td>
            <td>{{restaurant.adresse.numero}} {{restaurant.adresse.rue}}, {{restaurant.adresse.cp}}
                {{restaurant.adresse.ville}}</td>
            <td>{{restaurant.derniereVisite}}</td>
            <td>{{restaurant.note}}</td>
            <td><a href="#!details/{{key}}">Voir les détails</a></td>
        </tr>
    </tbody>
</table>